:host {
  display: block;
  height: 100%;
}

:host:has(#application-shell.documentation-scroll-enabled) {
  height: auto;
  min-height: 100%;
  overflow: visible;
}

#application-shell.documentation-scroll-enabled {
  height: auto !important;
  min-height: 100%;
  overflow: visible !important;
}
